
                        /*   Empiezan los estilos del modal   */

.modalDialog {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.712);
	z-index: 99999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}

.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}

.modalDialog > div {
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 80%;
    height: 80%;
    margin: 5% auto;
    vertical-align: middle;
	position: relative;
	border-radius: 20px;
    align-items: center;
    background-color: #20132bbb;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

#pp{
    justify-content: center;
    vertical-align: middle;
    color: #FFFFFF;
	text-align: center;
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

                        /*   Hasta aqui llega el modal   */

body {

    background-color: rgb(207, 166, 245);
    background-image: url(https://images8.alphacoders.com/539/539384.jpg);
    filter:alpha(opacity=70);

}

#titulo {

    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    border-style: dashed;
    background-color: rgba(53, 8, 68, 0.678);
    border-radius: 12%;

}

.title {

    color: aliceblue;
    font-family: fantasy;
    font-size: 15px;
    align-items: center;
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: infinite;

    animation-duration: 5s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 50%;
        width: 250%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }

    75% {
        font-size: 250%;
        margin-left: 25%;
        width: 150%;
    }

}

.nombre {

    color: aliceblue;
    font-style: oblique;
}

#gif {

    width: 150px;
    height: 120px;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 5s;
    animation-duration: 5s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;


}

@-webkit-keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;

    }

    25%,
    75% {
        opacity: 0;

    }
}

@keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;

    }
}


li {

    display: inline-block;
    width: 70px;
    height: 2em;
    color: aliceblue;
    background-color: rgba(44, 7, 56, 0.678);
    border-radius: 5px;
    margin: 5px;
    border-style: solid;
    border-width: 0px 2px 2px 0px;
    border-color: gray;
    text-align: center;
    padding-top: 1vh;
    font-size: large;
    box-shadow: 5px 5px rgba(54, 52, 52, 0.692);

}


#seleccionado {

    box-shadow: 5px 5px rgba(54, 52, 52, 0.692) inset;
}

li#seleccionado {

    background-color: rgb(153, 91, 233);

}

#menu {

    justify-content: center;
    display: flex;
    align-items: center;
}

.h2 {

    font-size: large;
    background-color: rgba(153, 59, 241, 0.753);
    color: rgb(9, 10, 12);
    width: 20%;
    height: 20%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.p {

    color: rgb(255, 255, 255);
    font-size: large;
    font-style: unset;
    padding-left: 2%;
    padding-right: 8%;
    text-align: justify;


}

p::first-letter {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-style: italic;
}

.punto {

    font-size: x-large;
    color: rgb(175, 104, 175);
    padding-left: 2%;
    padding-right: 8%;
    text-align: justify;
}

#fotomapa {
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 2%;
    width: 50vw;
    height: 50vh;
}

#fotomapa2 {
    padding-right: 10%;
    padding-left: auto;
    padding-top: 2%;
    width: 50vw;
    height: 50vh;
    align-self: flex-end;
    justify-content: flex-end;
}

#fotoseraph {
    padding-right: 5%;
    padding-left: auto;
    padding-top: 2%;
    width: 40vw;
    height: 40vh;
    align-self: flex-end;
    justify-content: flex-end;

}

.p2 {

    color: rgb(255, 255, 255);
    font-size: large;
    font-style: unset;
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    align-self: flex-start;
    justify-content: center;

}

#textofoto {

    display: flex;
    flex-direction: row;
    align-items: center;

}

#portaFoto {
    width: 50vw;
    height: 50vh;
    background-color: rgb(249, 182, 255);
    display: block;
}


#laFoto {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#foto {

    display: flex;
    flex-direction: row;
    align-items: center;

}

#victory {

    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}

@media screen and (orientation:landscape) {
    #portaFoto {
        max-width: 1920px;
        max-height: 1280px;
    }
}

@media screen and (orientation:portrait) {
    #portaFoto {
        max-width: 800px;
        max-height: 1200px;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#partebaja {

    height: 10vh;
    color: rgb(236, 236, 236);
    font-style: oblique;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;

}


article:hover {

    background-color: rgba(144, 88, 170, 0.788);
}

.efecto {

    letter-spacing: -2px;
    text-align: center;
    color: rgb(233, 206, 231);
    text-shadow: 0 0 5px rgb(48, 42, 42), 0 0 10px rgb(162, 111, 168), 0 0 15px rgb(87, 34, 87), 0 0 20px #079cf2b6, 0 0 25px #553e7996;
    -webkit-text-fill-color: #8c78e4;
    -webkit-text-stroke-color: #2e3996;
    -webkit-text-stroke-width: 0.2px;
    font-size: 30px;
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: 4s;
    animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}


#personajesimagen {

    width: 20vw;
    height: 20vh;
    align-items:flex-end;
    object-fit:contain;
    object-position: 50% bottom;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5 ease;
    z-index: 0;

}

#div20 {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: auto;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5 ease;
    background-color: transparent;
}

.p20 {

    justify-content: center;
    color:aliceblue;
    color: aliceblue;
    transition: all 1.5s ease;
    -webkit-transition: all 1.5 ease;
    background-color: transparent;
    text-shadow: 1px 1px rgb(62, 30, 71);
    font-size: calc(1.2em + 1vw + 1vh);
    font-weight: bold;
    z-index: 2;
}

.primerbloquepj{
    display:flex;
    flex-direction:row;
    justify-content:center;
    color: aliceblue;
    align-items:center;

}