body {

    background-color: rgba(80, 46, 112, 0.815);

}

#titulo {

    height: 20vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    justify-content: space-between;
    border-style: dashed;
    background-color: rgba(0, 0, 0, 0.664);

}

.title {

    color: aliceblue;
    font-style: oblique;
    font-size: 35px;
    align-items: center;
}

.nombre {

    color:aliceblue;
    font-style: oblique;
}

#gif {

    width: 150px;
    height: 120px;

}



#contenido {
    min-height:400px;
    display:flex;
    flex-direction:row;
}

#portaFoto {
    width: 50vw;
    height: 50vh;
    background-color: rgb(249, 182, 255);
    display: block;
}

#laFoto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

#foto {

    display: flex;
    flex-direction: row;
    align-items: center;

}

@media screen and (orientation:landscape) {
    #portaFoto {
        max-width: 1920px;
        max-height: 1280px;
    }
}

@media screen and (orientation:portrait) {
    #portaFoto {
        max-width: 800px;
        max-height: 1200px;
    }
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#partebaja {

    height: 10vh;
    color: rgb(236, 236, 236);
    font-style: oblique;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    align-items: center ;

}