*{
    padding: 0%;
    margin: 0%;
    box-sizing: cover;
}

body{
    
    width: 100vw;
    height: 100vh;
    overflow: hidden;

}

div{
    
    background-color: transparent;
    -webkit-animation: all 1.5 ;
    transition: all 1.5;
}

img{
   
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    align-items: center;
    object-fit: cover;
    object-position: 50% bottom;
    transition: all 1.5 ease;
    -webkit-transition: all 1.5 ease;
    z-index: 0;
}